exclude {
    html,
    body {
        font-family: Arial, Helvetica, sans-serif;
        -webkit-user-select: none;
        user-select: none;
        -moz-user-select: none;
        font-size: small;
        height: 100%;
        object-fit: contain;
        margin: 0;
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
    }
    body * {
        font-size: inherit;
        outline: 0;
    }
    /**/
    .disabled,
    [disabled="true"] {
        pointer-events: none;
        /*opacity: 0.4;*/
    }
    

    ::-webkit-scrollbar {
        width: 10px;
        border-radius: 5px;
        height: 10px;
        background-color: rgba(0, 0, 0, 0.329);
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.300);
        border: solid 2px transparent;
        box-sizing: border-box;
        border-radius: 5px;

    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: black;
    }
}