:exclude {
    html,
    body {
        font-family: Arial, Helvetica, sans-serif;
        -webkit-user-select: none;
        user-select: none;
        -moz-user-select: none;
        font-size: small;
        height: 100%;
        object-fit: contain;
        margin: 0;
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
    }
    body * {
        font-size: inherit;
        outline: 0;         
    }
    /**/
    .disabled,
    [disabled="true"] {
        pointer-events: none;
        /*opacity: 0.4;*/
    }
}