&{
    position: relative;  display:block; height: max-content; width: max-content;
    background-color: white; 
    border:solid 1px black;
} 

.footer {
  background: #1e1e2f;
  color: #ccc;
  text-align: center;
  padding: 12px;
  font-size: 0.9rem;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}
