// A VARIABLE Startwith `$l-` local,`$g-` global,`$i-` internal (current and childs HTMLElements)`
$l-fontColor:blue;

// all usercontrol's main parent element can be accessed by '&' instead of original tag name
&{
    display:block; position: absolute;
    background-color: rgb(240,240,240); 
    border:solid 1px black; 
    width: 100%; height: 100%;  overflow: hidden;
}

// style for `h2`
h2{
    font-family: Arial, Helvetica, sans-serif; display: block;
    font-size: medium; color: $l-fontColor; padding: 5px; padding-left: 15px;
    background-color: $g-title_background;  // this style applied from `Program.styles.scss`
    margin: 0px;
}

 
.layout { 
  overflow: hidden;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: max-content auto max-content;
}

&topmenu1 {
    grid-column: span 2;
}
&footerMenu1 {
    grid-column: span 2;
}


/* Main Content */
.main-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  background: #f9f9fb;
}

.main-content h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.main-content p {
  font-size: 1rem;
  color: #555;
}

