[inside="@ucbuilder:/controls/winFrame.uc"] {
    [SELF_] mainContainer {
        display: block;
        border: none;
        background-color: green;
    }

    title-bar {
        display: none;
    }
}